# 221005 Set4 AG Data Diff

In [1]:
from pathlib import Path

In [2]:
import pandas as pd
import numpy as np

## Setup

In [3]:
DATESTR = '221005'
NBNAME = f'{DATESTR}-set4-ag-data-diff'

In [4]:
infiles = dict(
    old='data-processed/221004-set4-ag-data/221004-ag-data.csv',
    new='src/221005-ag-data_v2.csv',
)

## Load data

In [5]:
old = pd.read_csv(infiles['old'], index_col=0)
new = pd.read_csv(infiles['new'], index_col=0)

## Compare

In [7]:
assert set(new.index) == set(old.index)
new = new.loc[old.index]

In [8]:
comp = new.compare(old)
comp.head()

            biosample_accession       est_coverage
                           self other         self   other
id
1658-pos                    NaN   NaN        64.79   64.79
18-00016595                 NaN   NaN       174.52  174.52
18-00022236                 NaN   NaN       185.02  185.02
18-00023041                 NaN   NaN       135.21  135.21
19-00001699                 NaN   NaN       148.02  148.02

In [9]:
assert np.allclose(comp['est_coverage', 'self'], comp['est_coverage', 'other'], equal_nan=True)

In [10]:
bs_comp = comp['biosample_accession'].fillna('')

bs_comp[bs_comp['self'] != bs_comp['other']]

                      self         other
id
22-00044713   SAMN30965595
PNUSAE020883  SAMN10619240  SAMN10182651